#pageBody{
    width:1020px;
    float: right;
}

#pageSub{
    width:220px;
    float: left;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
nav li{
    display: inline;
}
nav li a{
    text-decoration: none;
    background-color:#aaaaaa;
    color:#000;
    padding:8px;
}
nav li a:hover{
}